
<main id="main" style="padding-top: 100px;">

    <div class="row">
      <div class="col-lg-2">
        <br>
      </div>
      
        <div style="align-items: flex-start;" class="col-lg-8">
      
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Dealer Registration Form</h5>
              <br>
      
              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputName5" class="form-label">Customer Name</label>
                  <input type="text" class="form-control" id="inputName5">
                </div>
                <div class="col-md-6">
                  <label for="inputEmail5" class="form-label">Name as per GST</label>
                  <input type="text" class="form-control" id="inputEmail5" disabled>
                </div>
                <div class="col-md-6">
                  <label for="inputPassword5" class="form-label">GST No</label>
                  <input type="text" class="form-control" id="inputPassword5">
                  <small><a href="#">Verify GST No</a></small>
                </div>
                <div class="col-6">
                  <label for="inputAddress5" class="form-label">Pan No</label>
                  <input type="text" class="form-control" id="inputAddres5s">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword5" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputPassword5">
                </div>
                <div class="col-6">
                  <label for="inputAddress5" class="form-label">Mobile</label>
                  <input type="text" class="form-control" id="inputAddres5s">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Address</label>
                  <textarea type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" ></textarea>
                </div>
                <div class="col-md-5">
                  <label for="inputState" class="form-label">State</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-3">
                  <label for="inputZip" class="form-label">Pin</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-6">
                  <label for="inputAddress2" class="form-label">Remarks</label>
                  <textarea type="text" class="form-control" id="inputAddress2"></textarea>
                </div>
                <div class="col-6">
                  <label for="inputAddress2" class="form-label">Upload Document</label>
                  <input class="form-control" type="file" id="formFile">
      
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-success" style="width: 50%;">Register for Dealer</button>
                  
                </div>
              </form><!-- End Multi Columns Form -->
      
            </div>
          </div>
      
        </div>
  
        <div class="col-lg-2">
          <br>
        </div>
    </div>
  </main> 
    <!-- End #main -->